<h1>Currently managed resource requests</h1>
<br />
<p><i>This table refreshes automatically.</i></p>
<p-table [value]="requests">
    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]="'request.userName'">User name</th>
            <th [pSortableColumn]="'creationTimestamp'">Submitted at</th>
            <th [pSortableColumn]="'request.resourceType'">Resource Type</th>
            <th [pSortableColumn]="'state'">State</th>
            <th>Assigned Resource</th>
            <th>Request details</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
        <tr [class]="'request-' + request.state">
            <td>{{request.request.userName}}</td>
            <td>{{request.creationTimestamp}}</td>
            <td>{{request.request.resourceType}}</td>
            <td style="text-align: center"><span [class]="getBadgeClass(request.state)">{{request.state}}</span></td>
            <td>{{request.assignedResource ? request.assignedResource : ''}}</td>
            <td>Job Name: {{request.request.jobName}}</td>
        </tr>
    </ng-template>
</p-table>
