app-mwl-gauge {
    display: block;
    padding: 10px;
  }

app-mwl-gauge {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.7em;
  }

.stat-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3em;
  margin-top: 60px;
}