<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-object-group"></i>&nbsp; {{ 'Resource Groups' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li *ngFor="let group of resourceGroups">
                        <a class="list-group-item" [routerLink]="['/group', group.id]" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-object-group"></i>&nbsp; {{ group.name }}</span></a>
                    </li>
                    <li><a class="list-group-item" routerLink="/group/create" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-plus"></i>&nbsp; Create new group</span></a></li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;{{ 'User Administration' }}
        </a>
        <a [routerLink]="['/requests']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-hourglass-half"></i>&nbsp;{{ 'Monitor Requests' }}
        </a>
        <a [routerLink]="['/config']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-wrench"></i>&nbsp;{{ 'Settings' }}
        </a>

        
    </div>
</nav>
